select {
  border-radius: 3px;
  font-size: 1em;
}

input {
  &:focus {
    outline: none;
  }
}

.form-input {
  display: grid;
  grid-template-columns: auto 1fr;

  label {
    font-weight: 900;
    margin-right: 1rem;
  }
}